.searchContainer {
    margin-left: auto;
    padding: var(--search-container-padding, 1rem); 
    position: relative;
    width: var(--search-container-width, 300px);
}
.searchInput {
    width: 100%;
    padding: 0.75rem 2rem 0.75rem 3rem;
    border: var(--search-input-border, 1px solid #2d4e6a) ;
    border-radius: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease;
}
.searchResults {
    position: absolute;
    width: 95%;
    max-height: 60vh;
    overflow-y: auto;
    background: var(--search-results-background-color, var(--ifm-color-emphasis-100)); 
    border: 1px solid var(--search-results-border-color, var(--ifm-color-emphasis-200));
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    z-index: 1000;
    list-style: none;
    padding-left: 0;
    font-size: 13px !important;
}
.searchResults li {
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s;
}
.searchResults li a{
    text-decoration: none;
}
.searchResults li:hover {
    background-color: var(--search-result-hover-color, var(--ifm-color-emphasis-200));
}