.searchContainer {
    padding: var(--search-container-padding, 0.5rem); 
    position: relative;
    width: 100%;
}
.searchInput {
    width: 100% !important;
    height: 2rem !important;
    padding: 0.75rem 2rem 0.75rem 3rem;
    border: var(--search-input-border, 1px solid #2d4e6a) ;
    border-radius: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease;
    color: var(--ifm-navbar-search-input-color);
}
.selectedItem {
    background-color: var(--search-result-hover-color, var(--ifm-color-emphasis-300));
 }
.highlight {
    font-weight: bold;
    background-color: rgba(255, 225, 0, 0.2);
    border-radius: 2px;
    padding: 0 2px;
}
.inputWrapper {
  position: relative;
  width: 100%;
}
.searchIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: var(--ifm-navbar-search-input-icon) no-repeat center/contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.2s ease;
}

.searchIcon:hover {
  opacity: 0.8;
}
.searchResults {
    position: absolute;
    width: 95%;
    max-height: 60vh;
    overflow-y: auto;
    background: var(--search-results-background-color, var(--ifm-color-emphasis-100)); 
    border: 1px solid var(--search-results-border-color, var(--ifm-color-emphasis-200));
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    z-index: 1000;
    list-style: none;
    padding-left: 0;
    font-size: 13px !important;
}
.searchResults li {
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.2s;
}
.searchResults li a{
    text-decoration: none;
}
.searchResults li:hover {
    background-color: var(--search-result-hover-color, var(--ifm-color-emphasis-300));
}